<div id="app-header-component" data-current-user="<%= current_user.to_json %>"></div>
<div id="index-page" data-current-user="<%= @current_user.to_json %>" data-latest-spots="<%= @latest_spots.to_json %>"></div>
<div id="app-footer-component"></div>
