<div id="app-header-component" data-current-user="<%= current_user.to_json %>"></div>
<div
  class="flex min-h-screen items-center justify-center bg-gradient-to-t from-fuchsia-50 from-0% via-gray-100 via-50% to-orange-100 to-100%"
>
  <div class="rounded bg-white p-8 text-center shadow-lg">
    <h1 class="mb-4 text-2xl font-bold text-yellow-300">
      お問い合わせありがとうございます！
    </h1>
    <a href="/" class="text-yellow-300 underline hover:text-yellow-400"
      >ホーム画面に戻る</a
    >
  </div>
</div>
