<div id="model-course-new"></div>

<script type="module">
  import { createApp } from "vue";
  import ModelCourseForm from "../components/ModelCourseForm.vue";

  document.addEventListener("DOMContentLoaded", () => {
    const target = document.getElementById("model-course-new");
    if (target) {
      const app = createApp(ModelCourseForm);
      app.mount(target);
    }
  });
</script>
