<div id="model-course-show"></div>

<script type="module">
  import { createApp } from "vue";
  import ModelCourseShow from "../components/ModelCourseDetail.vue";

  document.addEventListener("DOMContentLoaded", () => {
    const target = document.getElementById("model-course-show");
    if (target) {
      const app = createApp(ModelCourseShow);
      app.mount(target);
    }
  });
</script>
