<h1>Admin Dashboard</h1>
<p>Welcome, <%= current_user.nickname %>!</p>
<div>
  <h2>Manage Options</h2>
  <ul>
    <li><%= link_to 'Manage Contents', admin_contents_dashboard_path %></li>
    <li><%= link_to 'Manage Users', admin_users_dashboard_path %></li>
  </ul>
</div>
