<div id="app-header-component" data-current-user="<%= current_user.to_json %>"></div>
<div
  id="review"
  data-spot-id="<%= @spot.id %>"
  data-current-user-id="<%= current_user&.id %>"
  class="review-container"
>
</div>
