<!-- filepath: /c:/Users/admin/Rails/tanbou-maps/app/views/corporate_profile/profileview.html.erb -->
<%= vite_javascript_tag 'application' %>
<div id="corporate-profile-view-app" data-user="<%= @user.to_json %>" data-root-path="<%= root_path %>"></div>
